header {
  background-color: bisque;
  display:flex ;
  align-items: center;
  justify-content: space-between;
  padding:  0px 10px 0px 10px;
}

header .menu{
  width: 20%;
}

header .menu ul{
  display: flex;
  width: 95%;
  justify-content: space-around;
  list-style: none;
  font-size: 20px;
  letter-spacing: 1px;
  font-family:Verdana, Geneva, Tahoma, sans-serif
}

header .menu ul li a {
  text-decoration: none;
  color:black;
}

header .menu ul li {
  transition: 0,2s
}

header .menu ul li:hover {
  transform: scale(1.1);
}

header p {
 width: 100px;
}